<!-- wp:template-part {"slug":"header-with-banner","theme":"nas-consulting-lite"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0","bottom":"0"},"padding":{"top":"0","bottom":"0","left":"0","right":"0"}}},"backgroundColor":"light-color","layout":{"type":"constrained","contentSize":"100%"}} -->
<main class="wp-block-group has-light-color-background-color has-background" style="margin-top: 0; margin-bottom: 0; padding-top: 0; padding-right: 0; padding-bottom: 0; padding-left: 0">
  <!-- wp:pattern {"slug":"nas-consulting-lite/services-section"} /-->
  <!-- wp:pattern {"slug":"nas-consulting-lite/aboutus-section"} /-->
  <!-- wp:pattern {"slug":"nas-consulting-lite/testimonial-section"} /-->
  <!-- wp:pattern {"slug":"nas-consulting-lite/brands-showcase"} /-->
  <!-- wp:pattern {"slug":"nas-consulting-lite/portfolio-block"} /-->
  <!-- wp:pattern {"slug":"nas-consulting-lite/why-choose-us"} /-->
  <!-- wp:pattern {"slug":"nas-consulting-lite/pricing-table"} /-->
  <!-- wp:pattern {"slug":"nas-consulting-lite/call-to-action"} /-->
  <!-- wp:pattern {"slug":"nas-consulting-lite/team-section"} /-->
  <!-- wp:pattern {"slug":"nas-consulting-lite/latest-post"} /-->
  <!-- wp:pattern {"slug":"nas-consulting-lite/contact-with-form-notice"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"nas-consulting-lite","area":"footer"} /-->
